{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2 class="mb-4">搜尋飯店</h2>
            <div class="card">
                <form id="search-form" method="POST" class="input-group">
                    <input type="text" name="query" class="form-control" placeholder="Search for hotel...">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="hotel-list" class="mt-4">
        {% for hotel in hotels %}
        <div class="card mb-3">
            <div class="card-body">
                {% if hotel.is_week_best_price == 1 %}
                <p class="card-text text-danger">7天最低價!!</p>
                {% endif %}
                <p class="card-text card-region">地區：{{ hotel.region }}</p>
                <h5 class="card-title">{{ hotel.hotel_name }}</h5>
                <p class="card-text">今日最低價格：{{ hotel.min_twd_price }} TWD</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div id="chart-container"></div>
        </div>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        // 使用 chart_data 變數來繪製圖表
        var data = {
            x: {{ chart_data.crawl_time | tojson }},
            y: {{ chart_data.twd_price | tojson }},
            type: 'scatter'
        };
        var layout = {
            xaxis: {
                title: {
                    text: '日期'
                }
            },
            yaxis: {
                title: {
                    text: '價格'
                }
            },
            title: {
                text: '最低價趨勢圖'
            },
            showlegend: false,
            margin: {
                l: 0,
                r: 0
            }
        };
        var config = {
            displayModeBar: false,
            responsive: true
        }
        Plotly.newPlot('chart-container', [data], layout, config);
        
        document.getElementById("search-form").addEventListener("submit", function(event) {
        event.preventDefault();

        var query = document.querySelector("input[name='query']").value;

        if (query) {
            window.location.href = "/api/v1/hotel/search_price/?hotel_name=" + query;
        }
    });
    </script>
{% endblock %}