{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">飯店列表</h1>

        <!-- 下拉式選單用來選擇地區 -->
        <label for="regionSelect">選擇地區：</label>
        <select id="regionSelect">
            <option value="all">全部</option>
            <option value="九州">九州</option>
            <option value="北海道">北海道</option>
            <option value="東京">東京</option>
            <option value="大阪">大阪</option>
            <option value="名古屋">名古屋</option>
        </select>

        <div id="hotel-list" class="mt-4">
            <!-- 飯店資料將會動態插入到這裡 -->
        </div>
        <div class="pagination mt-4">
            <button id="prev-page" class="btn btn-primary">上一頁</button>
            <span id="current-page" class="mx-2"></span>
            <button id="next-page" class="btn btn-primary">下一頁</button>
        </div>
    </div>

    <!-- 先載入 jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- 再載入 Bootstrap JavaScript 文件 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- 接下來是你的自訂 JavaScript 代碼 -->
    <script>

        let next_page = null;

        // 監聽下拉式選單的變更事件
        const regionSelect = document.getElementById("regionSelect");
        const prevPageButton = document.getElementById("prev-page");
        const currentPageElement = document.getElementById("current-page");
        const nextPageButton = document.getElementById("next-page");

        let currentPage = 1; // 初始頁數
        let selectedRegion = "all"; // 初始選取的地區

        regionSelect.addEventListener("change", function () {
            selectedRegion = regionSelect.value; // 更新選取的地區
            currentPage = 1; // 重新設定為第一頁
            fetchHotels(currentPage, selectedRegion); // 發送 API 請求
        });

        prevPageButton.addEventListener("click", function () {
            if (currentPage > 1) {
                current_page = nextPage ; // 減少頁數
                fetchHotels(current_page, selectedRegion); // 發送 API 請求
            }
        });

        nextPageButton.addEventListener("click", function () {
            if (next_page !== null) { // 檢查是否有下一頁的參數
                current_page = nextPage
                fetchHotels(current_page, selectedRegion); // 發送 API 請求
            }
        });

        // 使用 fetch 來獲取資料
        function fetchHotels(currentPage, selectedRegion) {
            // 構建 API URL，包括地區和頁數參數
            const apiUrl = `/api/v1/hotel/get_week_best_price/?paging=${currentPage}&region=${selectedRegion}`;

            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    next_page = data.next_paging

                    currentPageElement.textContent = `第 ${current_page} 頁`;
                    
                    const hotelList = document.getElementById("hotel-list");
                    hotelList.innerHTML = "";

                    // 遍歷 API 回應的飯店資料並動態生成 HTML 元素
                    data.hotels.forEach(hotel => {
                        const hotelDiv = document.createElement("div");
                        hotelDiv.classList.add("card", "mb-3");

                        // 創建飯店資訊元素
                        const cardBody = document.createElement("div");
                        cardBody.classList.add("card-body");
                        if (hotel.is_week_best_price === 1) {
                            const bestPriceLabel = document.createElement("p");
                            bestPriceLabel.classList.add("card-text", "text-danger");
                            bestPriceLabel.textContent = "7天最低價!!";
                            cardBody.appendChild(bestPriceLabel);
                        }
                        const hotelRegion = document.createElement("p");
                        hotelRegion.classList.add("card-text", "card-region"); // 添加類別以便篩選
                        hotelRegion.textContent = '地區：' + hotel.region;
                        const hotelName = document.createElement("h5");
                        hotelName.classList.add("card-title");
                        hotelName.textContent = hotel.hotel_name;
                        const hotelPrice = document.createElement("p");
                        hotelPrice.classList.add("card-text");
                        hotelPrice.textContent = '今日價格：' + hotel.min_twd_price + ' TWD';

                        // 將飯店資訊元素添加到飯店 Div 中
                        cardBody.appendChild(hotelRegion);
                        cardBody.appendChild(hotelName);
                        cardBody.appendChild(hotelPrice);
                        hotelDiv.appendChild(cardBody);

                        // 將飯店 Div 添加到父元素
                        hotelList.appendChild(hotelDiv);
                    });
                })
                .catch(error => {
                    console.error('無法取得飯店資料：', error);
            })
        };

        fetchHotels(currentPage, selectedRegion);

    </script>
</body>
</html>
{% endblock %}